@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl px-6 font-extrabold text-red-500 tracking-tight
  }
  h2 {
    @apply text-5xl px-6 font-extrabold text-gray-100 tracking-tight font-display
  }
  h3 {
    @apply text-3xl px-6 text-gray-200 font-display font-light
  }
}

@layer components {
  .navLink {
    @apply h-11 w-52
    inline-block px-3 py-2 border-2 border-primary text-primary font-medium leading-tight uppercase rounded
    hover:bg-primary hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out
    xl:ml-4
  }
}
